[package]
name = "urlsup"
version = "0.1.0"
description = "Validate URLs in files"
authors = ["Simon Egersand <s.egersand@gmail.com>"]

repository = "https://github.com/simeg/urlsup"
homepage = "https://github.com/simeg/urlsup"
documentation = "https://github.com/simeg/urlsup/blob/master/README.md"
readme = "README.md"
license = "MIT"
edition = "2018"
include = [
	"src/**/*",
	"Cargo.toml",
	"README.md"
]

[badges]
travis-ci = { repository = "simeg/urlsup", branch = "master" }
codecov = { repository = "simeg/urlsup", branch = "master", service = "github" }

[dependencies]
clap = { version = "2.33.0", default-features = false }
reqwest = { version = "0.10.4" }
tokio = { version = "0.2.18", features = ["macros"] }
futures = "0.3.4"
grep = "0.2.5"
linkify = "0.4.0"
num_cpus = "1.12.0"
spinners = "1.2.0"
term = "0.6.1"

[dev-dependencies]
tempfile = "3.1.0"
mockito = "0.25.1"
assert_cmd = "1.0.1"
predicates = "1.0.4"
