[package]
name = "link-auditor"
version = "0.1.0"
description = "Validate links in Markdown files"
authors = ["Simon Egersand <s.egersand@gmail.com>"]

repository = "https://github.com/simeg/link-auditor"
homepage = "https://github.com/simeg/link-auditor"
documentation = "https://github.com/simeg/link-auditor/blob/master/README.md"
readme = "README.md"
license = "MIT"
edition = "2018"
include = [
	"src/**/*",
	"Cargo.toml",
	"README.md"
]

[dependencies]
clap = { version = "2.31.2", default-features = false }
reqwest = { version = "0.10" }
tokio = { version = "0.2.4", features = ["macros"] }
futures = "0.3.1"
grep = "0.2.4"
regex = "1.3.1"

[dev-dependencies]
tempfile = "3.1.0"

